<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
<!-- JavaScript Bundle with Popper -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/dist/boxicons.js" integrity="sha512-Dm5UxqUSgNd93XG7eseoOrScyM1BVs65GrwmavP0D0DujOA8mjiBfyj71wmI2VQZKnnZQsSWWsxDKNiQIqk8sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="./style.css">  


<title><%= title  %> </title>
  </head>
  <body data-bs-spy="scroll" data-bs-target=".navbar">
    
   <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
      <div class="container">
         <img src="https://nexwebsites.com/images/software-development-company.svg" width="150px" height="100px" style="margin-left:30px ;" alt="">
        <a style="margin-right:200px ; font-size: 15px; " class="navbar-brand logo-text" href="#">Nexus Software Systems</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 50px; margin-right: 50px;">

         <!-- services drop down -->
         <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </button>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/services/Custom-Developed-Software">Custom Developed Software</a></li>
              <li><a class="dropdown-item" href="/services/Legacy-Software-Modernization">Legacy Software Modernization</a></li>
              <li><a class="dropdown-item" href="/services/Software-Testing-Services">Software Testing Services</a></li>
              <li><a class="dropdown-item" href="/services/Ecommerce-Website-Development">Ecommerce Website Development</a></li>
              <li><a class="dropdown-item" href="/services/Embedded-Software-Development">Embedded Software Development</a></li>
              <li><a class="dropdown-item" href="/services/Software-Maintenance">Software Maintenance</a></li>
              <li><a class="dropdown-item" href="/services/Web-Application-Development">Web Application Development</a></li>
            
            </ul>
          </div>

<!-- Technology drop down -->
<div class="dropdown">
   <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
     Technology
   </button>
   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/services/Cpp-Software-Development">C++ Software Development</a></li>
      <li><a class="dropdown-item" href="/services/NET-Application-Development">.NET Application Development</a></li>
    </ul>
 </div>
          <ul class="navbar-nav ms-auto">

            <li class="nav-item" style="padding-top: 6px;">
              <a class="nav-link" style="color: black;" href="/project">Studies</a>
            </li>
             <li class="nav-item" style="padding-top: 6px; padding-left: 17px;">
               <a class="nav-link" style="color: black;" href="/resources">Resources</a>
             </li>

             <!-- Company drop down -->
<div class="dropdown"style="padding-top: 8px;">
   <button class="btn dropdown-toggle"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Company
   </button>
   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/about">About</a></li>
    <li><a class="dropdown-item" href="/partners">Partners</a></li>
    <li><a class="dropdown-item" href="/program">Nexus Software Referral Program</a></li>
    <li><a class="dropdown-item" href="/process">Software Development Process</a></li>
    <li><a class="dropdown-item" href="/helpdesk">Software Support Helpdesk</a></li>
  </ul>
 </div>
 <a href="/contact"><button type="button" class="btn btn-success btn-rounded" style="background-color: #70B205; border-radius: 30px;">Get in Touch</button></a>
          </ul>
        </div>
      </div>
    </nav>

   <section id="home" style=" background: linear-gradient(rgba(17, 36, 90, 0.8), rgba(17, 36, 90, 0.8)), url(https://www.rmets.org/sites/default/files/2019-10/map_with_magnifying_glass_-_banner1.jpg);
   min-height: 5vh;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: flex;
   align-items: center;">
      <div class="container text-center">
         <div class="row justify-content-center">
            <div class="col-md-10" style="margin-bottom: 20px; color: white;">
               <h1 class="text-white display-6 text-capitalize" style=" margin-top: 100px; padding-top: 70px; font-weight: bold; "> <%= title  %>  </h1>
               <a style="color: white; text-decoration: none" href="#">Business Software Development</a> / 
               <a style="color: white; text-decoration: none" href="/services">Software Development Services</a> / 
               <a style="color: white; text-decoration: none" href="/services">Core Banking Software Development Services</a> 
            </div>

         </div>
      </div>
   </section>

<div>
   <h1 style="font-size:20px ; padding-left: 60px; padding-top: 50px;"> What is <%= title  %>  ?</h1>
   <!-- <p><img src="https://nexwebsites.com/images/banking_software_development_services.jpg" alt="alt text" style="float: right">Text here</p> -->
   

      <p style="font-size:15px ; color: black; padding-left: 60px; padding-right: 80px; padding-top: 50px;"><img style="
         float: right;
         margin: 0px 0px 15px 20px;" width="200px" height="200px" src="https://nexwebsites.com/images/service/software-testing-services.svg">
    Software testing and software quality assurance (SQA) services include activities such as functional, integration, compatibility, performance, usability, security, and compliance testing as well as SQA strategy design and SQA process improvements.

    Software testing may be considered a part of a software quality assurance (SQA) process. In SQA, software process specialists are concerned with the software development process rather than just the artifacts such as documentation, code and systems. They examine and change the software engineering process itself to reduce the number of faults that end up in the delivered software: the so-called defect rate.
    
    Since 1985, Nexus Software Systems has provided expert software testing and SQA services to validate and ensure the quality of software with regard to its requirements and business needs.
    
    Software testing is an essential part of the software development cycle. It is considered an important activity where software is validated to be in compliance with requirements and specifications.
    
    Software testing has historically been separated from the rest of development. It’s often conducted later in the software development life cycle after the product build or execution stage. A software tester may only have a small window to test the code – sometimes just before the application goes to market. If defects are found, there may be little time for recoding or retesting.
    
    Software testing earlier in the development cycle helps keep the testing effort at the forefront rather than as an afterthought to development.
    
    
      </p>
      <h1 style="font-size:20px ; padding-left: 60px; padding-top: 50px;"> Why is <%= title  %> developed  ?</h1>
      <p style="font-size:15px ; color: black; padding-left: 60px; padding-right: 80px; padding-top: 50px;">

         Core Banking Software Challenges
         Developing core banking software in-house is a complicated, time-consuming process that can overwhelm teams and delay product launch. As such, very few banks have their own banking platforms.
         
         Banks can have millions of customers across hundreds or thousands of branches. Because of this, banking software may be on a network with many connected machines.
         
         The core banking system is a major investment for a retail banks. Maintaining and managing the system can represent a large part of the cost of running a bank.
         
         Today, modern core banking software solutions are even more relevant. Considering the need for an urgent and thorough change of existing legacy systems. Large banks realize that they need to be hyper-focused on customer satisfaction strategies. Sadly, some banks remain slow to respond or adapt to emerging technologies. Due to their dependency on existing legacy core systems. Systems that are not designed to function in today’s environment.
         
         Legacy software is a major issue for banks in terms of allocating resources. A number of factors contribute to the staggering cost of maintaining legacy software systems or continuing their development.
         
         Legacy Software Problems and How to Fix Them
         
         One approach to modernizing a legacy system is encapsulation. Leveraging and extending an application’s features and value. By encapsulating functions and making them available as services via an application programming interface (API). This method supports the addition of new features, can reduce maintenance costs and prevent lost business.
         
         

      </p>

  <div class="container py-10 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-5">

        <figure class="bg-light p-4"
          style="border-left: .35rem solid green; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
          <i class="fas fa-quote-left fa-2x mb-4" style="color: green;"></i>
          <blockquote class="blockquote pb-2">
            <p>
              Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma -
              which is living with the results of other people's thinking. Don't let the noise of others'
              opinions drown out your own inner voice. And most important, have the courage to follow your
              heart and intuition.
            </p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0">
            Steve Jobs in <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure>

      </div>
    </div>
  </div>

</div>
  
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
   <!-- Section: Social media -->
   <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
     <!-- Left -->
     <div class="me-5 d-none d-lg-block">
       <span>Get connected with us on social networks:</span>
     </div>
     <!-- Left -->
 
     <!-- Right -->
     <div>
       <a href="" class="me-4 text-reset">
         <i class="fab fa-facebook-f"></i>
       </a>
       <a href="" class="me-4 text-reset">
         <i class="fab fa-twitter"></i>
       </a>
       <a href="" class="me-4 text-reset">
         <i class="fab fa-google"></i>
       </a>
       <a href="" class="me-4 text-reset">
         <i class="fab fa-instagram"></i>
       </a>
       <a href="" class="me-4 text-reset">
         <i class="fab fa-linkedin"></i>
       </a>
       <a href="" class="me-4 text-reset">
         <i class="fab fa-github"></i>
       </a>
     </div>
     <!-- Right -->
   </section>
   <!-- Section: Social media -->
 
   <!-- Section: Links  -->
   <section class="">
     <div class="container text-center text-md-start mt-5">
       <!-- Grid row -->
       <div class="row mt-3">
         <!-- Grid column -->
         <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
           <!-- Content -->
           <h6 class="text-uppercase fw-bold mb-4">
             <i class="fas fa-gem me-3"></i>Company name
           </h6>
           <p>
             Here you can use rows and columns to organize your footer content. Lorem ipsum
             dolor sit amet, consectetur adipisicing elit.
           </p>
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
           <!-- Links -->
           <h6 class="text-uppercase fw-bold mb-4">
             Products
           </h6>
           <p>
             <a href="#!" class="text-reset">Angular</a>
           </p>
           <p>
             <a href="#!" class="text-reset">React</a>
           </p>
           <p>
             <a href="#!" class="text-reset">Vue</a>
           </p>
           <p>
             <a href="#!" class="text-reset">Laravel</a>
           </p>
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
           <!-- Links -->
           <h6 class="text-uppercase fw-bold mb-4">
             Useful links
           </h6>
           <p>
             <a href="#!" class="text-reset">Pricing</a>
           </p>
           <p>
             <a href="#!" class="text-reset">Settings</a>
           </p>
           <p>
             <a href="#!" class="text-reset">Orders</a>
           </p>
           <p>
             <a href="#!" class="text-reset">Help</a>
           </p>
         </div>
         <!-- Grid column -->
 
         <!-- Grid column -->
         <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
           <!-- Links -->
           <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
           <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
           <p>
             <i class="fas fa-envelope me-3"></i>
             info@example.com
           </p>
           <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
           <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
         </div>
         <!-- Grid column -->
       </div>
       <!-- Grid row -->
     </div>
   </section>
   <!-- Section: Links  -->
 
   <!-- Copyright -->
   <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
     © 2021 Copyright:
     <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
   </div>
   <!-- Copyright -->
 </footer>
 <!-- Footer -->

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/bootstrap.bundle.min.js"></script>
    
  </body>
</html>